.hero-image {
    background-image: url(/img/hero.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    object-fit: cover;
    background-repeat: no-repeat;
    display: block;
    height: 70vh;
    width: 100%;
    max-width: 100%;
}