.hero-image {
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    object-fit: cover;
    background-repeat: no-repeat;
    display: block;
    height: 70vh;
    width: 100%;
}

.hero-image::before {
    display: block;
    position: absolute;
    content: '';
    top: 50px;
    left: 0;
    right: 0;
    bottom: 125px;
    background: #000000;
    opacity: 0.4;
}